* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}

/* common */
a {
  text-decoration: none;
}
:root {
  --color-bg: #10375c;
  --color: #575f66;
}
.btn {
  display: flex;
  width: 205px;
  height: 60px;
  background-color: #2e80ce;
  border-radius: 30px;
  color: #fff;
  justify-content: center;
  align-items: center;
}
.btn:hover {
  opacity: 90%;
}
.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

/* header */
header {
  background-color: var(--color-bg);
}

.header_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}
.header_top .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 7.6%;
}
.header_top .logo_name {
  margin-left: 4px;
}
.header_top .logo_name p:fist-child {
  font-size: 1.8rem;
  line-height: 14px;
}
.header_top .logo_name p:last-child {
  font-size: 1.2rem;
  line-height: 14px;
  font-weight: 300;
  text-align: right;
}
.header_top .navbar {
  display: flex;
  width: 31.02%;
  justify-content: space-between;
}
.header_top .navbar a,
.header_top .direction .btn_log_in {
  font-size: 1.6rem;
  line-height: 28px;
  color: #c9d2da;
  font-weight: 300;
}

.header_top .navbar a:hover,
.header_top .navbar a.active,
.header_top .direction .btn_log_in:hover {
  font-weight: 400;
  color: #fff;
}
.header_top .navbar a.active::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 6px;
  background-color: #fff;
  margin-bottom: 3px;
  margin-right: 4px;
}
.header_top .direction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 180px;
}
.header_top .direction .btn_sign_up {
  color: #fff;
  line-height: 28px;
  width: 104px;
  height: 44px;
  border-radius: 22px;
}

/*  */
.header_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 0 60px;
}
.header_info_desc {
  width: 44.18%;
}
.header_info_desc h1 {
  font-size: 7rem;
  font-weight: 600;
  line-height: 80px;
  letter-spacing: -2%;
  color: #fff;
}
.header_info_desc p {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 30px;
  color: #c9d2da;
  margin: 15px 0 30px;
}
.header_info_desc .box {
  display: flex;
  align-items: center;
}
.header_info_desc .box span {
  font-size: 1.8rem;
  line-height: 30px;
  margin-left: 30px;
  color: #fff;
}
.header_info_pictures {
  width: 45.64%;
  height: 540px;
  display: flex;
  align-items: center;
}
.header_info_pictures img:first-child {
  width: 61.79%;
  z-index: 1;
}
.header_info_pictures img:last-child {
  width: 39.32%;
  position: relative;
  left: -5px;
}

/* phần services */
.body_service {
  margin: 130px 0 100px;
}
.service_top {
  width: 40%;
  margin: 0 auto;
}
.service_top h1 {
  color: var(--color-bg);
  font-weight: 600;
  font-size: 5rem;
  line-height: 60px;
  letter-spacing: -2%;
  text-align: center;
}
.service_top p {
  color: var(--color);
  font-size: 1.8rem;
  line-height: 30px;
  font-weight: 300;
  margin-top: 10px;
  text-align: center;
}
.service_content {
  padding: 50px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.service_content .img {
  width: 48.71%;
  height: 570px;
  border-radius: 12px;
  object-fit: cover;
  object-position: top;
}
/*  */
.service_content .desc {
  width: 40.17%;
}
.service_content .box {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.service_content .box_icon {
  width: 60px;
  height: 60px;
  background-color: #eff6fd;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  flex-shrink: 0;
}
.service_content .box:hover {
  box-shadow: 10px 5px 10px rgb(235, 220, 220);
  transform: translateY(-10px);
}

.service_content .box:hover .box_icon {
  background-color: #2e80ce;
  color: #fff;
}
.service_content .detail {
  margin-left: 10px;
}
.service_content .detail h2 {
  font-weight: 600;
  font-size: 1.8rem;
  color: var(--color-bg);
}
.service_content .detail p {
  color: var(--color);
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 28px;
}
.service_content a {
  margin-top: 80px;
}

/* phần work */
.work {
  margin-top: 150px;
  background-color: #f6fbff;
  padding-top: 1px;
}
.body_work {
  /* background-color: rgb(214, 204, 204); */
  padding: 90px 0;
}
.work_top {
}
.work_top h1 {
  color: var(--color-bg);
  font-weight: 600;
  font-size: 5rem;
  line-height: 60px;
  letter-spacing: -2%;
}
.work_top p {
  color: var(--color);
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 30px;
  width: 40%;
  margin-top: 10px;
}
.work_info {
  display: grid;
  grid-template-columns: repeat(3, 31.62%);
  justify-content: space-between;
  margin-top: 90px;
}
.work_info .box {
  border: 10px solid #eaf6ff;
  padding: 30px 30px 20px;
}
.work_info .box h2 {
  color: var(--color-bg);
  font-size: 2.6rem;
  line-height: 36px;
  font-weight: 600;
  margin-top: 10px;
}
.work_info .box p {
  color: var(--color);
  font-weight: 300;
  line-height: 28px;
  font-size: 1.6rem;
  margin-top: 10px;
}
.work_info .box a {
  display: inline-block;
  margin: 20px 0 20px;
  color: #575f66;
}
.work_info .box:hover {
  border: 10px solid #2e80ce;
  transform: translateY(-10px);
}
.work_info .box:hover a {
  color: #2e80ce;
}

/* phần about */
.body_about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 140px;
}
.body_about .box {
  width: 48.71%;
  position: relative;

  height: 491px;
}
.body_about .img1 {
  width: 89.82%;
  position: absolute;
  top: 0;
  left: 0;
}
.body_about .img2 {
  width: 58.24%;
  position: absolute;
  height: 370px;
  object-fit: cover;
  bottom: 0;
  right: 0;
}
/*  */

.body_about .info {
  width: 40.17%;
}
.body_about .info h1 {
  color: var(--color-bg);
  font-weight: 600;
  font-size: 5rem;
  line-height: 60px;
  letter-spacing: -2%;
  margin-top: 20px;
}
.body_about .info p {
  color: var(--color);
  font-weight: 300;
  line-height: 30px;
  font-size: 1.8rem;
  margin-top: 20px;
}
.body_about .info a {
  margin-top: 45px;
}

/* phần team */
.body_team {
  margin-top: 150px;
}
.team_top {
  margin: 0 auto;
  /* text-align: center; */
  width: 38.46%;
}
.team_top h1 {
  font-weight: 600;
  font-size: 5rem;
  line-height: 60px;
  color: var(--color-bg);
  letter-spacing: -2%;
}
.team_top .btn_meet_out_dentist {
  margin: 30px auto 50px;
}
.body_team .list_member {
  display: grid;
  grid-template-columns: repeat(4, 23.07%);
  justify-content: space-between;
}

.body_team .list_member .img {
  width: 100%;
  height: 270px;
  object-fit: cover;
  background-color: #eaf6ff;
}
.body_team .list_member .img4 {
  object-position: 25% 50%;
}

.body_team .list_member h2,
.body_team .list_member p {
  text-align: center;
  margin: 7px 0px;
}

.body_team .list_member h2 {
  font-size: 1.6rem;
  line-height: 28px;
  color: var(--color-bg);
}
.body_team .list_member p {
  font-size: 1.6rem;
  line-height: 26px;
  font-weight: 300;
  color: var(--color);
}
.body_team .direction {
  display: flex;
  width: 7.69%;
  margin: 20px auto 0px;
}
.body_team .direction span {
  display: flex;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: var(--color);
  border: 1px solid var(--color);
  justify-content: center;
  align-items: center;
}
.body_team .direction span:last-child {
  margin-left: auto;
}
.body_team .direction span:hover {
  background-color: #2e80ce;
  color: #fff;
}
